fastapi==0.121.3
librosa==0.11.0
memory_profiler==0.61.0
numpy==2.3.5
onnxruntime==1.23.2
scipy==1.16.3
soundfile==0.13.1
torch==2.9.0 --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.9.0
uvicorn==0.38.0
