# Core API
fastapi==0.127.1
uvicorn==0.40.0
python-multipart==0.0.21

# ML Runtime
onnxruntime==1.23.2
numpy==1.26.4

# Audio Processing
librosa==0.11.0
soundfile==0.13.1

# Utils (Used by BAPE)
pyyaml
coloredlogs==15.0.1
humanfriendly==10.0

# Frontend
aiofiles